<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="INQOOL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%boldGreen(${CONSOLE_LOG_PATTERN})</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
<logger name="cz.inqool.arclib" level="TRACE" additivity="false">
    <appender-ref ref="INQOOL"/>
</logger>
</configuration>